body {
    background-color: #ffd6f3;
    font-family: sans-serif;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color: purple;
    text-align: center;
}

h2 {
    color: #ffffff;
}

img {
    width: 250px;
}
